<h1 id="title"> My Schedule</h1>
<div class="container list-article">
   
  </div>
  <div class="clearfix"></div>
  <div class="row">
    <div class="col-xs-12 article-wrapper">
      <article>
        <div class="img-wrapper"><img src="http://lorempixel.com/150/150/fashion" alt="" /></div>
<% if (schedules.length > 0) { %>
  <ul>
      <% schedules.forEach(schedule => { %>
          
             <h1 id="header"><strong>Name:</strong> <%= schedule.name %><br></h1>
              <strong>Date:</strong> <%= schedule.date %><br>
              <% schedule.exercise.forEach(exercise => { %>
                
                  <strong>Exercise set:</strong><%= exercise.name %> <br>
                 
          <% }) %>
          <button class="glowyStuff">
                    <a class="scheduleDetailB" href="/schedule/detail?id=<%= schedule._id %>"> Show details
                    </a>
                  </button>
      </ul> 
    </article>
  </div>
  <div class="col-xs-12 article-wrapper">
  
<% }) %>
  </ul>
<% } else { %>
  <p>No schedules found. Create one!</p>
<% } %>

<a href="/schedule/add">Create New Schedule</a> 





