<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" href="/css/style.css">
  <script src=
      "https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js">
  </script>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
  <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
  <link rel="stylesheet" 
  href=
"https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="/css/style.css">
<script src=
"https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js">
    </script>
  
  
  <title>Gym Planner</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/category.css">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
  <script src="/javascript/script.js"></script>

  </head>
  <body>
    <header>
      <div class="header">
          <div id="Logo">
              <img src="images/Gym planner Logo noBg.png" alt="Gym Planner Logo">
          </div>
  
          <div id="menu">
              <ul>
                  <li><a href="/index">Home</a></li>
                  <li><a href="/exerciseCategory/index">Exercise Categories</a></li>
                  <li><a href="/schedule/index">My Schedules</a></li>
                  <li><a href="/schedule/add">Add New Schedule</a></li>
              </ul>
          </div>
  
          <div class="dropdown-menu profile-dropdown" id="profileDropdownMenu">
              <%if(user){%>
            <ul>
              <li><a class="dropdown-item" href="/user/profile">Profile</a></li>
              <li><a class="dropdown-item" href="/auth/logout">Sign Out</a></li>
            </ul>
            <%}else {%>
              <ul>
                <li><a class="dropdown-item" href="/auth/google">Sign In</a></li>
              </ul>
              <%}%>
          </div>
      </div>
      </header>
  
     

  <%-body%>
</body>
</html>