/* Edit Form Container */
.edit-form {
  max-width: 700px;
  margin: 40px auto;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.7);
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

/* Avatar Image */
.edit-form .avatar {
  padding: 10px;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 160px;
  height: 160px;
  object-fit: cover;
}

/* Form Labels */
.edit-form label {
  font-weight: bold;
  margin-bottom: 10px;
  font-size: medium;
  display: block;
}

/* Input Fields */
.edit-form input[type="text"],
.edit-form input[type="number"] {
  width: 100%;
  height: 30px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 20px;
}

/* Flexbox Container for Buttons */
.edit-form .button-container {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

/* Submit Button (Update Profile) */
.edit-form button[type="submit"] {
  font-size: large;
  width: 220px;
  height: 50px;
  padding: 10px;
  border: none;
  border-radius: 10px;
  background-color: #f52d2d;
  color: #fff;
  cursor: pointer;
  box-shadow: 5px 5px 0px #c32424a8;
  transition: all 0.3s ease;
}

.edit-form button[type="submit"]:hover {
  background-color: #d42626;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

/* Delete Button */
.edit-form button[onclick] {
  font-size: large;
  width: 220px;
  height: 50px;
  padding: 10px;
  border: none;
  border-radius: 10px;
  background-color: #f52d2d;
  color: #fff;
  cursor: pointer;
  box-shadow: 5px 5px 0px #c32424a8;
  transition: all 0.3s ease;
}

.edit-form button[onclick]:hover {
  background-color: #d42626;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

/* Delete Link */
.edit-form a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

/* Flex Button Styling */
.Btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 220px;
  height: 50px;
  border: none;
  padding: 0px 20px;
  background-color: #f52d2d;
  color: white;
  font-weight: 700;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: 5px 5px 0px #c32424a8;
  transition: all 0.3s ease;
}

.Btn:hover {
  background-color: #d42626;
  color: transparent;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}
