<div class="expressions">
  <h2>SHAPE YOUR BODY</h2>
  <h1>BE <span class="highlight">STRONG</span></h1>
  <h1>TRAINING HARD</h1>
  <button class="cta-button">
    <a href="/schedule/add" class="cta-link">Add New Schedule</a>
  </button>
</div>