
<br></br>
<main class="content-section">
  <h3>It's not about being perfect. It's about effort.</h3>
  <div class="box">
    <p>Your body is a temple. Treat it well.</p>
    <a href="/schedule/add" class="btn btn-primary btn-lg">Create Schedule</a>
  </div>
</main>