<div class="expressions">
  <h2>SHAPE YOUR BODY</h2>
  <h1>BE <span class="highlight">STRONG</span></h1>
  <h1>TRAINING HARD</h1>
  <button class="cta-button">
    <a href="/schedule/add" class="cta-link">Add New Schedule</a>
  </button>
</div>

<div class="discriptionPTP">
      <div class="Name">
      <img src="/images/dumbbel icon.png" alt="dumbbelLogo">
      <h2>PROFESSIONAL TRAINING PLAN</h2>
      </div>
      <p id="para"> a structured roadmap for improving skills and knowledge.
        It outlines learning objectives, training methods,
        and a timeline for achieving desired outcomes.</p>
</div>
