<!-- views/exerciseCategory/add.ejs -->
<form action="/exercise/add" method="post">
  <label for="name">Name</label>
  <input type="text" name="name">
  <hr>
  <label for="description">Description</label>
  <input type="text" name="description">
  <hr>
  <label for="Duration">Duration</label>
  <input type="number" name="duration">
  <hr>
  <label for="category">Exersice Category</label>
  <select name="exerciseCategory" id="exerciseCategory">
    <%exerciseCategory.forEach(function(exerciseCategory){%>
      <option value="<%=exerciseCategory._id%>"><%=exerciseCategory.name%></option>
      <%})%>
  </select>
  <hr>
  <label for="imgs">Exercise Images</label>
  <input type="file" name="imgs" accept="image/*" multiple>
  <hr>
  <button type="submit">Create</button>
</form>